{% extends 'base.html' %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block main-content %}
    
    <div class="d-flex justify-content-center">
        <div class="login-form border border-white bg-white rounded p-2 mt-3" style="width: 400px;">
            <legend class="legend text-center text-primary">Signup</legend>
            <form action="{% url 'account_signup' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary border-success bg-success-subtle text-success-emphasis w-100" type="submit">Signup</button>
            </form>
            <div class="d-flex justify-content-center mt-2">
                <span>
                    <a class="text-decoration-none" href="{% provider_login_url 'google' %}">
                        <i class="fa-brands fa-google fa-lg" style="color: #ff0000; margin-right: 20px;"></i>
                    </a>  
                    <a href="#">
                        <i class="fa-brands fa-twitter fa-lg "></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    
{% endblock main-content %}
