{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block main-content %}
    
<h5>{{ item.title }}</h5>
<!-- item image section -->
  <div class="d-flex flex-row mb-3">
    <div class="p-1" style="max-width:80%;">
       <img src="{{ item.cover_photo.url}}" alt="{{ item.title }}" style="width: 750px; height: 500px;">
    </div>
    <div class="p-1">
        <div class="d-flex flex-column">
            <div class="mb-1">
                <img src="{{ item.cover_photo.url}}" alt="{{ item.title }}" style="width: 210px; height: 150px;">
            </div>
            <div class="mb-1">
                <img src="{{ item.cover_photo.url}}" alt="{{ item.title }}" style="width: 210px; height: 150px;">
            </div>
            <div class="mb-1">
                <img src="{{ item.cover_photo.url}}" alt="{{ item.title }}" style="width: 210px; height: 150px;">
            </div>
            <a href="#">View all</a>
          </div>
    </div>
  </div>

  <!-- auction overview -->
  <div class="d-flex flex-row mb-3">
    <!-- time left -->
    <div class="" style="width: 200px; margin-right: 3px;">
        Time Left: 4:45:45
    </div>
    <!-- highest bid -->
    <div class="" style="width: 200px; margin-right: 3px;">
        
        {% if max_bid.max_bid_amount %}
            <span>Highest Bid: {{ max_bid.max_bid_amount|intcomma}}</span>
        {% else %}
            Highest Bid: 0.00
        {% endif %}
            
    </div>
    <!-- number of bids -->
    <div class="" style="width: 200px; margin-right: 3px;">
        Bids: {{ bids.count}}
    </div>
    <!-- comments -->
    <div class="" style="width: 200px; margin-right: 3px;">
        Comments: 
    </div>
    <!-- place bid--> 
    
    
    {% if user == item.seller %}
        <div class="" style="width: 200px; margin-right: 3px;">
           <span>something else</span>
        </div>
    {% else %}
        <div class="" style="width: 200px; margin-right: 3px;">
            <button class="btn btn-success w-100">Place Bid</button>
        </div>
    {% endif %}
        
         
    
  </div>
  
  
        
{% endblock main-content %}
    